doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Error
	body 

		p
			span You entered the wrong password.
			br
			a(href="/login") login
			br
			a(href="/register") register