doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
		script(type="module", src="/js/pages/login.js") 
	body 
		a(href='/') 
			button Home Page

		br
		br
		hr

		p Login By Google
		a(href='/auth/google') 
			button Login By Google
		br
		br
		br
		hr

		p Login By OTP
		form(name='otp-login' method='POST' action='/api/auth/send-otp')
			label Phone 
			br
			input(type='text' name='phone' placeholder='+880xxxxxxxxxx') 
			br
			button() Get OTP

		br
		form(name='otp-verify' method='POST' action='/api/auth/verify-otp')
			label otp 
			br
			input(type='number' name='otp' placeholder='xxxx') 
			br
			label Phone 
			br
			input(type='text' name='phone' placeholder='+880xxxxxxxxxx') 
			br
			label Hash 
			br
			input(type='text' name='hash' placeholder='your hash token') 
			br
			button() Verify

		br
		br
		br
		hr


		form(name='local-login')
			label Email 
			br
			input(type='email' name='email' placeholder='abc@gmail.com') 
			br
			label Password 
			br
			input(type='password' name='password' placeholder='********') 
			br
			button() Login

			br
			p 
				span Don't have an account ? 
				a(href='/register') Register

			br

