doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
		script(defer type='module' src="/js/pages/product.js") 
	body 

		a(href='/dashboard/product') Create Product

		br
		br
		br
		h2 Products
		pre
			div(name='show-products')

		
		hr
		p All Products
		div(name='products-container')
		
